{% extends "layouts/base.njk" %}
{% set title = "Organizational Services | AnchorPointCompliance Legal Services" %}
{% set meta_keywords = "Organizational Compliance, Corporate Governance, Risk Management" %}
{% set meta_description = "AnchorPointCompliance offers specialized compliance advisory for private companies,
non-profits, healthcare, and educational institutions." %}
{% set nav_active = "organizational" %}

{% block content %}
{% include "pages/organizational-services-body.njk" %}
{% endblock %}