<footer id="footer" class="border-top-0 mt-0">
    <div class="container py-4">
        <div class="row py-5 mt-3">
            <div class="col-md-4 mb-4 mb-lg-0">
                <h4 class="text-color-light font-weight-bold text-5 mb-4">AnchorPointCompliance</h4>
                <p class="text-3 shadow-none">Legal & Compliance Consulting Services, LLC. Non-litigation advisory
                    focused on regulatory health and institutional sustainability.</p>
            </div>
            <div class="col-md-4 mb-4 mb-lg-0">
                <h4 class="text-color-light font-weight-bold text-5 mb-4">Quick Links</h4>
                <ul class="list list-unstyled text-3-5 shadow-none">
                    <li class="mb-1"><a href="about.html"
                            class="text-color-grey text-color-hover-primary text-decoration-none">About Us</a>
                    </li>
                    <li class="mb-1"><a href="government-services.html"
                            class="text-color-grey text-color-hover-primary text-decoration-none">Government
                            Services</a></li>
                    <li class="mb-1"><a href="organizational-services.html"
                            class="text-color-grey text-color-hover-primary text-decoration-none">Organizational
                            Services</a></li>
                    <li><a href="contact.html"
                            class="text-color-grey text-color-hover-primary text-decoration-none">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-color-light font-weight-bold text-5 mb-4">Contact Info</h4>
                <ul class="list list-unstyled text-3-5 shadow-none">
                    <li class="mb-1"><strong>Email:</strong> <a href="mailto:Info@anchorpoint-legal.com"
                            class="text-color-grey text-color-hover-primary text-decoration-none">Info@anchorpoint-legal.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col d-flex align-items-center justify-content-center">
                    <p class="text-2 opacity-7">&copy; 2026 AnchorPointCompliance. All rights reserved. <span
                            class="ms-3 d-block d-sm-inline"><strong>Not a law firm. No litigation services
                                provided.</strong></span> <a href="disclaimer.html"
                            class="ms-3 text-color-light text-decoration-underline">Full Disclaimer</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
